+++
title = "Revisiting an early critique of formal verification"
authors = [ "Lawrence C. Paulson" ]
date = 2025-04-19T00:53:46-03:00
[extra]
url = "https://lawrencecpaulson.github.io/2025/03/14/revisiting_demillo.html"
+++
