* { margin: 0px; }

@font-face {
  font-family: 'ShareTech';
  src: url('Share Tech Mono.ttf'), format('truetype');
}

html {
  background-color: #222222;
  font-family: 'ShareTech', monospace;
  color: #F1E9E5;
}

.header-art {
  color: #888
}

#nav-menu li {
  display: inline-block;
  margin-left: 20px;
}

#nav-posts {
  margin-left: 40px;
  margin-top: 40px;
  color: #F1E9E5;
}

li { margin-bottom: 10px; }

p {
  margin: 30px;
  line-height: 1.7em;
}

a {
  text-decoration: underline dotted #888;
  color: #AEDBCE;
}

a:hover {
  color: #39AEA9;
  text-decoration: underline dotted #fff;
  transition: 1500ms;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  color: #ccc;
  font-size: 25px;
  margin: 40px 0px 10px 20px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ccc;
  font-size: 25px;
  margin: 20px 0px 10px 20px;
}

.sourceCode pre {
  color: #ccc;
  padding: 20px;
}

footer {
  margin-top: 40px;
}

.footer-text {
  padding: 20px 20px;
}

.footer-back {
  float: right;
}

/* tablet */
@media (min-width: 401px) {
  .article { margin: 0 45px; }
  .article p {
    margin: 25px 0px;
  }
  h1 {
    margin-left: 45px;
  }
}

/* widescreen */
@media (min-width: 1000px) {
  .article {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
  }
  .article p {
    grid-column-start: 2;
    margin: 15px;
  }
  #title-container {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
  }
  #title-container h1 {
    grid-column-start: 2;
    margin: 80px 15px 30px 15px;
  }
}

/* phone */
@media (max-width: 400px) {
  .article { margin: 0 20px; }
  .article p {
    margin: 25px 0px;
  }
}
