* { margin: 0px; }

@font-face {
  font-family: 'Mononoki';
  src: url('Mononoki.ttf'), format('truetype');
}

html {
  background-color: #222222;
  font-family: 'Mononoki', monospace;
  color: #F1E9E5;
}

.header-art {
  color: #888
}

#a11y-skip {
  position: absolute;
  left: -1000%;
}

#a11y-skip:focus {
  left: 5%;
}

#nav-menu li {
  display: inline-block;
  margin-left: 20px;
}

#nav-posts {
  margin-left: 40px;
  margin-top: 40px;
  color: #F1E9E5;
}

li {
  margin-bottom: 15px;
  line-height: 2em;
}
ul { margin-top: 15px; }

p {
  margin: 30px;
  line-height: 1.7em;
}

a {
  text-decoration: underline dotted #888;
  color: #AEDBCE;
}

a:hover {
  color: #39AEA9;
  text-decoration: underline dotted #fff;
  transition: 1500ms;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  color: #ccc;
  margin: 40px 0px 10px 20px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  color: #ccc;
  margin: 20px 0px 10px 0px;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  color: #ccc;
  margin: 20px 0px 10px 0px;
}

h4 {
  font-size: 21px;
  font-weight: bold;
  color: #6a978b;
  margin: 20px 0px 10px 0px;
}

.article p {
  margin: 25px 0px;
}

.sourceCode pre {
  color: #ccc;
  padding: 20px;
  font-size: 16px;
}

img {
  width: 100%;
}

p code {
  background-color: #444;
  padding: 5px 6.5px;
  margin-right: 2px;
  border-radius: 6px;
  font-size: 14px;
}

li code {
  background-color: #444;
  padding: 5px 8px;
  border-radius: 6px;
  font-size: 14px;
}

blockquote {
  color: #888;
  background-color: #1b1b1b;
  padding: 10px 40px;
  font-style: italic;
  border-radius: 12px;
}

blockquote p code {
  color: #bbb;
}

footer {
  margin-top: 40px;
}

.footer-text {
  padding: 20px 20px;
}

.footer-back {
  float: right;
}

/* tablet */
@media (min-width: 401px) {
  .article {
    margin: 0 45px;
  }

  h1 {
    margin-left: 45px;
  }
}

/* widescreen */
@media (min-width: 1000px) {
  .article {
    margin: 0 20%;
  }

  h1 {
    margin-left: 45px;
  }
}

/* fullscreen */
@media (min-width: 1500px) {
  .article {
    margin: 0 30%;
  }

  h1 {
    margin-left: 45px;
  }
}

/* phone */
@media (max-width: 400px) {
  .article {
    margin: 0 20px;
  }
}
