{% extends "base.html" %}

{%- block octo_head %}
{%- endblock -%}

{% block content %}
        <article>
          <h1>{{ page.title }}</h1>
          <div class="content-metadata">
              <div class="content-date">
                  <time class="content-date">
                      {{- page.date | date(timezone="UTC", format="%Y-%m-%d %H:%M:%S") }} UTC
                  </time>
              </div>
              {%- for taxonomy, terms in page.taxonomies -%}
              {%- if taxonomy == "tags" -%}
              <div class="content-tags"><span>tags:</span><ul>
                  {%- for tag in terms -%}
                  <li><a
                     class="content-tags"
                     href="{{  get_taxonomy_url(kind="tags", name=tag, lang=page.lang) }}">
                         {{- tag -}}
                  </a></li>
                  {%- endfor -%}
              </ul></div>
              {%- endif -%}
              {% endfor -%}
          </div>
          {{ page.content | safe }}
        </article>
{%- endblock content -%}
