{% extends "content.html" %}

{%- block content %}
<div class="link-box">
    <h1 class="link-title">
        <a href="{{ page.extra.url }}" rel="octo:bookmarks">{{ page.title }}</a>
    </h1>
    <div class="content-metadata">
        <span class="link-author">{% if lang == "pt" %}Por{% else %}By{% endif %} {{ page.authors | join(sep=", ") }}</span>
        <time class="content-date">{% if lang == "pt" %}Linkado{% else %}Linked{% endif %} {{ page.date | date(format="%Y-%m-%d %H:%M:%S") }}</time>
        {%- for taxonomy, terms in page.taxonomies -%}
        {%- if taxonomy == "tags" -%}
        <div class="content-tags"><span>tags:</span><ul>
                {%- for tag in terms -%}
                <li><a class="content-tags" href="/tags/{{ tag }}">
                        {{- tag -}}
                    </a></li>
                    {% endfor -%}
            </ul></div>
        {%- endif -%}
        {% endfor -%}
    </div>
</div>

{%- if page.extra.comment %}<p>{{ page.extra.comment }}</p>{% endif %}
{{- page.content | safe }}
{%- endblock content %}
